/* --------------------
        全体
-------------------- */

:root {
  --theme-color: #1D46A8;
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 30px;
  color: #333;
  background: #8D97A8;
}

/* --------------------
        見出し
-------------------- */

h1, h2, h3 {
  color: var(--theme-color);
  border-bottom: dashed 0.1em var(--theme-color);
}

/* --------------------
        リスト
-------------------- */

ul {
  list-style: disc; /* 普通の点に戻す */
}

li::marker {
  color: var(--theme-color); /* リストの点の色をテーマカラーに */
}
