:root {
  --theme-color: #1D46A8;
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 30px;
  color: #333;
  background: #8D97A8;
}

h1, h2, h3 {
  color: var(--theme-color);
  border-bottom: dashed 0.1em var(--theme-color);
}

ul {
  list-style: disc;
}

li::marker {
  color: var(--theme-color);
}

li p {
  margin: 0.5em 0 0 0;
}

li iframe {
  width: 100%;
  max-width: 560px;
  height: auto;
  aspect-ratio: 16 / 9;
  display: block;
  margin-top: 0.5em;
}
